<ion-header>
  <ion-navbar>
    <ion-title>
      ToDo
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <!-- <ion-card *ngFor="let todo of todos">
    <ion-card-header>
      UserId: {{todo.userId}} / Title: {{todo.title}}
    </ion-card-header>
    <ion-card-content>
      <p>Completed</p>
    </ion-card-content>
  </ion-card> -->

  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>

  <ion-card *ngFor="let item of items">
    
    <ion-item>
      <h2>UserId: {{item.userId}}</h2>
      <br>
      <p>Title: {{item.title}}</p>
    </ion-item>
  
    <ion-card-content>

      <ion-item>
        <ion-label>Completed</ion-label>
        <ion-checkbox color="secondary" [(ngModel)]="item.completed"></ion-checkbox>
      </ion-item>

    </ion-card-content>

  </ion-card>

</ion-content>
